.mainImage{
    padding: 15px;
}

.thumbnails{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.thumbnails div{
    padding: 2.5px 10px;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
}

.thumbnail{
    margin: 3px;
}

img{
    border: solid 1px darkgrey;
}

.thumbnails div:hover{
    background-color: lightgrey;
}

.thumbnails div:active{
    background-color: grey;
}

.imageGallery{
        box-shadow: 5px 5px 50px #000;

}

.imageGallery p{
    text-align: center;
    padding: 20px;
}


@media only screen and (max-width: 750px) {

    .mainImage{
        padding: 10px;
    }

    .mainImage img{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    
    
    .mainImage{
        margin-bottom: 0px;
    }
}