.button{
/*    background-color: skyblue;*/
    border: none;
    max-width: 20px;
    margin-top: 5%;
}

#previous{

}

#next{

}

#mainImage{
    padding: 10px;
}

#mainImage img{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#thumbnails{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#thumbnails div{
    padding: 30px;
}

.thumbnail{
    width: 15%;
}

img{
    border: solid 1px darkgrey;
}

#thumbnails div:hover{
    background-color: lightgrey;
}


@media only screen and (max-width: 750px) {

    #mainImage{
        padding: 10px;
    }

    #mainImage img{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .thumbnail{
        width: 18.5%;
    }
}