.button{
    background-color: skyblue;
    border: solid 2px black;
    text-align: center;
    margin-right: 25%;
}

#previous{
    
}

#next{
    
}

#mainImage{
    padding: 10px;
}

#mainImage img{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#thumbnails{
    float: left;
    margin-left: 25%;
}

#thumbnails img{
    width: 15%;
}

img{
    border: solid 1px darkgrey;
}

@media only screen and (max-width: 750px) {

    #mainImage{
        padding: 10px;
    }

    #mainImage img{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #thumbnails{
        margin-left: 18%;
    }

    #thumbnails img{
        width: 18.5%;
    }
}